.logo_place_header {
  position: absolute;
  max-width: 183px;
  max-height: 32px;
  padding-top: 30px;
  padding-left: 64px;
  z-index: 2;
}

.logo_place_header:hover, .logo_place_header:focus {
  background-size: 100% 2px;
}

@media screen and (max-width: 768px) {
  .logo_place_header {
    margin: 0;
    padding: 0;
    left: 4%;
    top: 4%;
  }
}
