.cards__title {
  margin: 0 0 16px;
  padding: 0;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.15;
  /* Согласно брифу все сделано правильно, однако мне не нравится визуально как скачет текст
  в зависимости от обьема заголовка, и это видно на макете в том числе, у карточки номер 4 и 5 например,
  хочется сделатьна одном уровне все cards__description (сделаю после сдачи ревью))) */
}
