@keyframes rotation {
  from {
    transform:rotate(0deg);
  }
  to {
    transform:rotate(360deg);
  }
}

.rotation {
  animation: rotation 20s infinite linear;
}

/* Надеюсь все сделал правильно, rotation это блок по брифу, вот я создал блок и миксую его к нужным блокам */
