.header__subtitle {
  position: absolute;
  max-width: 50%;
  left: 4%;
  bottom: 30px;
  font-size: 28px;
  font-weight: normal;
  line-height: 32px;
  z-index: 2;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media screen and (max-width: 1440px) {
  .header__subtitle {
    max-width: 388px;
    font-size: 18px;
    font-weight: normal;
    line-height: 25px;
  }
}

@media screen and (max-width: 768px) {
  .header__subtitle {
    max-width: 388px;
    font-size: 16px;
    font-weight: normal;
    line-height: 20px;
    bottom: 30%;
  }
}

@media screen and (max-width: 425px) {
  .header__subtitle {
    position: static;
    padding-left: 4%;
    padding-top: 4%;
  }
}
