.header__main-illustration {
  position: absolute;
  max-height: 715px;
  max-width: 900px;
  bottom: 0;
  right: 0;
  z-index: 1;
}


@media screen and (max-width: 2300px) {
  .header__main-illustration {
    max-height: 80%;
    max-width: 765px;
  }
}

@media screen and (max-width: 1024px) {
  .header__main-illustration {
    max-height: 80%;
    max-width: 480px;
  }
}

@media screen and (max-width: 768px) {
  .header__main-illustration {
    max-height: 80%;
    max-width: 280px;
  }
}
