.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

/* ниже универсальный модификатор для сброса отступов тексту */
.resetting_indent {
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  position: relative;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  /* выше установили ограничения для секции */
}

/* ниже преобразование заголовка в flex и соответсвующие свойства */
.header__title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 730px;
  margin-left: 64px;
  font-size: 102px;
  font-weight: bold;
  line-height: 96px;
  z-index:2;
}

/* ниже прописываем свойства для подзаголовка */
.header__subtitle {
  position: absolute;
  width: 388px;
  left: 64px;
  bottom: 30px;
  z-index: 3;
}

/* шрифт для ссылки и для подзаголовка */
.header__text {
  font-size: 18px;
  font-weight: normal;
  line-height: 25px;
  text-decoration: none;
}

/* свойства положения для иллюстрации в header */
.header__main-illustration {
  position: absolute;
  height: 608px;
  width: 765px;
  bottom: 0;
  right: 0;
  z-index: 1;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  position: absolute;
  height: 568px;
  width: 568px;
  top: 64px;
  right: 0;
  background-color: #2f80ed;
}

/* свойства позиционирования лого для модификатора */
.logo_place_header {
  position:absolute;
  height: 32px;
  width: 183px;
  top: 30px;
  left: 64px;
  margin: 0;
  padding: 0;
  z-index: 3;
}

.logo_place_footer {
  position:absolute;
  height: 32px;
  width: 183px;
  top: 60px;
  left: 64px;
  margin: 0;
  padding: 0;
  z-index: 3;
}

/* "рабочая область" для контейнера two-columns */
.description {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.two-columns {
  display: flex;
  justify-content: space-between;
  margin: 100px 0;
  width: 80%;
}

.two-columns__brief {
  width: 175px;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  display: flex;
  flex-direction: column;
  list-style: none;
}

/* свойства для селектора отступа - обнуление отступов от браузера, присвоение новых */
.two-columns__paragraph_indent {
  margin: 0;
  padding: 0;
  margin-top: 30px;
}

/* три селектора снизу нужны для стилизации шрифта */
.two-columns__brief_text_style {
  font-size: 18px;
  font-weight: normal;
  line-height: 1.2;
  color: #2f80ed;
}

.two-columns__paragraph_text_style {
  font-size: 24px;
  font-weight: normal;
  line-height: 34px;
}

.two-columns__span-accent {
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
}

/* ниже начинаются слекторы для 3 секции - digits */
.digits {
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.digits_section-indent {
  margin: 100px 0;
}
.section-title {
  text-align: center;
  width: 60%;
  font-size: 60px;
  font-weight: bold;
  line-height: 1.15;
  margin: 0;
  padding: 0;
}

.section-subtitle {
  text-align: center;
  margin: 20px 0 0;
  width: 60%;
  font-size: 24px;
  font-weight: normal;
  line-height: 34px;
}

.table {
  display: flex;
  flex-direction: column;
  width: 1100px;
  margin: 0 auto 100px;
}

.table__cellrow {
  display: flex;
  justify-content: space-between;
  padding: 60px 0 0;
  margin: 0;
}

/* карточка факта и содержимое этой карточки */
.table__cell {
  width: 250px;
  list-style: none;
}

.table__heading {
  margin: 0 0 20px;
  padding: 0;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.15;
}

.table__text {
  margin: 0 0 20px;
  padding: 0;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.2;
}
.table__footer {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.2;
}

/* ниже секция feynman и ее свойства */
.feynman {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 790px;
  background-color: #f2f2f2;
}

.feynman__title {
  text-align: center;
  margin: 100px auto 0;
  top: 100px;
  width: 648px;
  font-size: 120px;
  font-weight: bold;
  line-height: 1.15;
  z-index: 2;
}

.feynman__subtitle {
  text-align: center;
  margin-top: 70px;
  font-size: 36px;
  font-weight: normal;
  line-height: 51px;
  z-index: 2;
}

.feynman__link {
  position: absolute;
  text-align: center;
  top: 50%;
  right: 48px;
  font-size: 36px;
  font-weight: normal;
  line-height: 51px;
  text-decoration: none;
  color: #2f80ed;
}

.feynman__img {
  position: absolute;
  bottom: 0;
  left : 0;
  width: 867px;
  height: 637px;
}

/* Ниже идет секция kaufman и ее свойства */
.kaufman {
  position: relative;
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #1f1f1f;
  overflow: hidden;
}

/*модификатор сброса отступа для секции */
.kaufman_section-indent {
  padding: 90px 0;
}

.section-title_theme_dark {
  text-align: center;
  width: 60%;
  font-size: 60px;
  font-weight: bold;
  line-height: 1.15;
  color: white;
  z-index: 1;
  margin: 0;
  padding: 0;
}

.section-subtitle_theme_dark {
  text-align: center;
  margin-top: 20px;
  width: 60%;
  font-size: 24px;
  font-weight: normal;
  line-height: 34px;
  color: white;
  z-index: 1;
}

.table_theme_dark {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 1100px;
  color: white;
  z-index: 1;
}

.table__cellrow_theme_dark {
  display: flex;
  justify-content: space-between;
  padding: 80px 0 0;
  margin: 0;
  color: white;
}

/* карточка факта и содержимое этой карточки */
.table__cell_theme_dark {
  width: 250px;
  list-style: none;
  color: white;
}

.table__heading_theme_dark {
  margin: 0 0 20px;
  padding: 0;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.15;
  color: white;
}

.table__text_theme_dark {
  margin: 0 0 20px;
  padding: 0;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.2;
  color: white;
  z-index: 0;
}

.triangle {
  width: 877px;
  height: 877px;
  position: absolute;
  top: 0;
  right: -210px;
}

/* ниже идет свойства footer */
.footer {
  position: relative;
  display:flex;
  justify-content: center;
  min-height: 350px;
  padding: 60px 0 40px;
  background-color: #1f1f1f;
}

.footer__columns {
  display: flex;
  justify-content: space-between;
  width: 90%;
}

.footer__column_content_copyright {
  display: flex;
  justify-self: flex-start;
  align-self: flex-end;
  flex-basis: 711px;
}

.footer__author {
  padding: 18px 0;
  margin: 0;
  color: white;
  font-size: 18px;
  font-weight: normal;
  line-height: 25px;
}

.footer__column_content_info {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  margin-bottom: 16px;
}

.footer__column_content_social {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  margin-bottom: 16px;
}

.footer__column-heading {
  margin: 0 0 20px;
  padding: 0;
  color: white;
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
}

.footer__column-links {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  color: white;
}

.footer__column-link {
  display: flex;

  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: normal;
  line-height: 30px;
}

.footer__social-icon {
  display: flex;
  align-self: center;
  justify-content: flex-start;
  width: 16px;
  height: 16px;
  margin-right: 10px;
}
