.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  display: flex;
  position: relative;
  margin: 0;
  padding: 0;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  /* выше установили ограничения для секции */
}

/* ниже преобразование заголовка в flex и соответсвующие свойства */
.header__title {
  align-self: center;
  max-width: 730px;
  margin: 0 0 0 64px;
  padding: 0;
  font-size: 102px;
  font-weight: bold;
  line-height: 96px;
  z-index:2;
}

/* ниже прописываем свойства для подзаголовка */
.header__subtitle {
  position: absolute;
  width: 388px;
  margin: 0 0 0 64px;
  bottom: 30px;
  padding: 0;
  font-size: 18px;
  font-weight: normal;
  line-height: 25px;
  z-index: 3;
}

/* шрифт для ссылки и для подзаголовка */
.header__link {
  font-size: 18px;
  font-weight: normal;
  line-height: 25px;
  text-decoration: none;
  color: #2f80ed;
}

/* свойства положения для иллюстрации в header */
.header__main-illustration {
  position: absolute;
  height: 608px;
  width: 765px;
  bottom: 0;
  right: 0;
  z-index: 1;
}

.header__square-pic {
  position: absolute;
  height: 568px;
  width: 568px;
  top: 64px;
  right: 0;
  background-color: #2f80ed;
}

/* свойства позиционирования лого для модификатора */
.logo {
  height: 32px;
  width: 183px;
  margin: 0;
  padding: 0;
  z-index: 3;
}

.logo_place_header {
  position:absolute;
  top: 30px;
  left: 64px;
}

.logo_place_footer {
  top: 60px;
  left: 64px;
  height: 35px;
}

/* "рабочая область" для контейнера two-columns */
.description {
  margin: 0;
  padding: 100px 0;
}

.two-columns {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 80%;
}

.two-columns__brief {
  max-width: 175px;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.2;
  color: #2f80ed;
  margin: 0;
  padding: 0;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
  margin: 0;
  padding: 0;
}

.two-columns__paragraph {
  font-size: 24px;
  font-weight: normal;
  line-height: 34px;
  margin: 0;
  padding: 0 0 30px;
}

/* убрал отступ последнего two-columns__paragraph */
.two-columns__paragraph:last-child {
  padding: 0;
}

.two-columns__span-accent {
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  margin: 0;
  padding: 0;
}

/* ниже начинаются слекторы для 3 секции - digits */
.digits {
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 0 100px;
  padding: 0;
}

.section-title {
  text-align: center;
  max-width: 60%;
  margin: 0;
  padding: 0;
  font-size: 60px;
  font-weight: bold;
  line-height: 1.15;
}

.section-subtitle {
  text-align: center;
  max-width: 60%;
  margin: 20px 0 0;
  padding: 0;
  font-size: 24px;
  font-weight: normal;
  line-height: 34px;
}

.table {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 1100px;
  margin: 0 auto;
  padding: 0;
}

/* карточка факта и содержимое этой карточки */
.table__cell {
  margin: 0;
  padding: 60px 0 0;
  width: 250px;
  list-style: none;
}

.table__heading {
  margin: 0;
  padding: 0;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.15;
}

.table__text {
  margin: 0;
  padding: 20px 0 0;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.2;
}

/* ниже секция feynman и ее свойства */
.feynman {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 790px;
  padding: 100px 0;
  background-color: #f2f2f2;
}

.feynman__title {
  text-align: center;
  margin: 0 auto 0;
  padding: 0;
  width: 648px;
  font-size: 120px;
  font-weight: bold;
  line-height: 1.15;
  z-index: 2;
}

.feynman__subtitle {
  text-align: center;
  margin: 0 auto;
  padding: 70px 0 0;
  font-size: 36px;
  font-weight: normal;
  line-height: 51px;
  z-index: 2;
}

.feynman__link {
  position: absolute;
  text-align: center;
  top: 50%;
  right: 48px;
  margin: 0;
  padding: 0;
  font-size: 36px;
  font-weight: normal;
  line-height: 51px;
  text-decoration: none;
  color: #2f80ed;
}

.feynman__img {
  position: absolute;
  bottom: 0;
  left : 0;
  width: 867px;
  height: 637px;
}

/* Ниже идет секция kaufman и ее свойства */
.kaufman {
  position: relative;
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0;
  padding: 90px 0;
  overflow: hidden;
  background-color: #1f1f1f;
}

/* изменил название модификаторов согласно брифу */
.section-title_theme_dark {
  color: white;
}

.section-subtitle_theme_dark {
  color: white;
}

.table_theme_dark {
  color: white;
  z-index: 2;
}

.table__cell_theme_dark {
  margin: 0;
  padding: 80px 0 0;
  width: 200px;
  list-style: none;
}
/* не сочтите за ошибку умоляю, я использовал 3 модификатора для 3 блоков, и 1 модификатор для элемента cell блока table
одним словом я модифицировал только те элементы которые отличаются чем то от стандартных блоков,
зачем модифицировать прям все элементы блоков?) рука не поднимается просто)) */

.kaufman__triangle {
  background: url('../images/kaufman-triangle.svg') no-repeat;
  background-size: 877px;
  width: 877px;
  position: absolute;
  top: 0;
  right: -210px;
}

/* ниже идет свойства footer */
.footer {
  display:flex;
  justify-content: center;
  min-height: 350px;
  padding: 60px 0 40px;
  box-sizing: border-box;
  background-color: #1f1f1f;
}

.footer__columns {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0;
  padding: 0;
}

.footer__column_content_copyright {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 711px;
  margin: 0;
  padding: 0;
}

.footer__author {
  padding: 18px 0 0;
  margin: 0;
  color: white;
  font-size: 18px;
  font-weight: normal;
  line-height: 25px;
}

.footer__column_content_info {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  margin: 0 0 16px;
  padding: 0;
}

.footer__column_content_social {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  margin-bottom: 16px;
}

.footer__column-heading {
  margin: 0 0 20px;
  padding: 0;
  color: white;
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
}

.footer__column-links {
  display: flex;
  flex-direction: column;
  list-style: none;
  color: white;
  margin: 0;
  padding: 0;
}

.footer__column-link {
  display: flex;
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: normal;
  line-height: 30px;
  margin: 0;
  padding: 0;
}

.footer__social-icon {
  display: flex;
  align-self: center;
  justify-content: flex-start;
  width: 16px;
  height: 16px;
  margin: 0;
  padding: 0;
  margin-right: 10px;
}
