.khan__buy-link {
  align-self: flex-start;
  margin: 0 0 0 48px;
  padding: 0;
  font-size: 30px;
  font-weight: normal;
  line-height: 42px;
  transition: 1.5s; /* добавил для того что бы после hover возвращалось значение плавно */
  text-decoration: none;
  color: #2f80ed;
}

.khan__buy-link:hover {
  opacity: 0.5;
  transition: 1.5s;
}
/* Не переживайте, до дедлайна еще неделя) спасибо за качественное ревью! */
